include utils.pug

input(type='hidden' name='_csrf' value=csrfToken)
+textField('text', 'Title', 'title', book.title)
+textField('text', 'Author', 'author', book.author)
+textField('date', 'Release Date', 'releaseDate', book.releaseDate, 'ex: 2000-01-31')
+textField('number', 'Page Count', 'pageCount', book.pageCount)
+textField('text', 'Publisher', 'publisher', book.publisher)
